# Hepatitis dataset

In [13]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score

ModuleNotFoundError: No module named 'sklearn'

In [14]:
# reading the first few lines of the dataset
df = pd.read_csv('hepatitis (copy).csv')
df

,DIE_LIVE,AGE,SEX,STEROID,ANTIVIRAL,FATIGUE,MALAISE,ANOREXIA,LIVER_BIG,LIVER_FIRM,SPLEEN_PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK_PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
5,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1
6,1,51,1,1,2,1,2,1,2,2,1,1,2,2,?,?,?,?,?,1
7,2,23,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,?,?,?,1
8,2,39,1,2,2,1,2,2,2,1,2,2,2,2,0.70,?,48,4.4,?,1
9,2,30,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,120,3.9,?,1
10,2,39,1,1,1,2,2,2,1,1,2,2,2,2,1.30,78,30,4.4,85,1
11,2,32,1,2,1,1,2,2,2,1,2,1,2,2,1.00,59,249,3.7,54,1
12,2,41,1,2,1,1,2,2,2,1,2,2,2,2,0.90,81,60,3.9,52,1
13,2,30,1,2,2,1,2,2,2,1,2,2,2,2,2.20,57,144,4.9,78,1
14,2,47,1,1,1,2,2,2,2,2,2,2,2,2,?,?,60,?,?,1
15,2,38,1,1,2,1,1,1,2,2,2,2,1,2,2.00,72,89,2.9,46,1
16,2,66,1,2,2,1,2,2,2,2,2,2,2,2,1.20,102,53,4.3,?,1
17,2,40,1,1,2,1,2,2,2,1,2,2,2,2,0.60,62,166,4.0,63,1
18,2,38,1,2,2,2,2,2,2,2,2,2,2,2,0.70,53,42,4.1,85,2
19,2,38,1,1,1,2,2,2,1,1,2,2,2,2,0.70,70,28,4.2,62,1
20,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.90,48,20,4.2,64,1
21,2,27,1,2,2,1,1,1,1,1,1,1,2,2,1.20,133,98,4.1,39,1
22,2,31,1,2,2,2,2,2,2,2,2,2,2,2,1.00,85,20,4.0,100,1
23,2,42,1,2,2,2,2,2,2,2,2,2,2,2,0.90,60,63,4.7,47,1
24,2,25,2,1,1,2,2,2,2,2,2,2,2,2,0.40,45,18,4.3,70,1
25,2,27,1,1,2,1,1,2,2,2,2,2,2,2,0.80,95,46,3.8,100,1
26,2,49,1,1,1,1,1,1,2,1,2,1,2,2,0.60,85,48,3.7,?,1
27,2,58,2,2,2,1,2,2,2,1,2,1,2,2,1.40,175,55,2.7,36,1
28,2,61,1,1,2,1,2,2,1,1,2,2,2,2,1.30,78,25,3.8,100,1
29,2,51,1,1,1,1,1,2,2,2,2,2,2,2,1.00,78,58,4.6,52,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.1,100,2
126,2,28,1,2,2,1,1,1,?,?,2,1,1,2,1.00,?,20,4.0,?,2
127,1,50,1,2,2,1,2,2,2,1,1,2,1,1,2.80,155,75,2.4,32,2
128,2,54,1,1,2,1,1,2,2,2,2,2,1,2,1.20,85,92,3.1,66,2
129,1,57,1,1,2,1,1,2,2,2,2,1,1,2,4.60,82,55,3.3,30,2
130,2,54,1,2,2,2,2,2,2,2,2,2,2,2,1.00,85,30,4.5,0,2
131,1,31,1,1,2,1,1,1,2,2,1,2,2,2,8.00,?,101,2.2,?,2
132,2,48,1,2,2,1,1,1,2,1,2,1,2,2,2.00,158,278,3.8,?,2
133,2,72,1,2,1,1,2,2,2,1,2,2,2,2,1.00,115,52,3.4,50,2
134,1,38,1,1,2,2,2,2,2,1,2,2,2,2,0.40,243,49,3.8,90,2
135,2,25,1,2,2,1,2,2,1,1,1,1,1,1,1.30,181,181,4.5,57,2
136,2,51,1,2,2,2,2,2,1,1,2,1,2,2,0.80,?,33,4.5,?,2
137,2,38,1,2,2,2,2,2,2,1,2,1,2,1,1.60,130,140,3.5,56,2
138,1,47,1,2,2,1,1,2,2,1,2,1,1,1,1.00,166,30,2.6,31,2
139,2,45,1,2,1,2,2,2,2,2,2,2,2,2,1.30,85,44,4.2,85,2
140,2,36,1,1,2,1,1,1,1,1,2,1,2,1,1.70,295,60,2.7,?,2
141,1,54,1,1,2,1,1,2,?,?,1,2,1,2,3.90,120,28,3.5,43,2
142,2,51,1,2,2,1,2,2,2,1,1,1,2,1,1.00,?,20,3.0,63,2
143,1,49,1,1,2,1,1,2,2,2,1,1,2,2,1.40,85,70,3.5,35,2
144,1,45,1,2,2,1,1,1,2,2,2,1,1,2,1.90,?,114,2.4,?,2
145,2,31,1,1,2,1,2,2,2,2,2,2,2,2,1.20,75,173,4.2,54,2
146,1,41,1,2,2,1,2,2,2,1,1,1,2,1,4.20,65,120,3.4,?,2
147,1,70,1,1,2,1,1,1,?,?,?,?,?,?,1.70,109,528,2.8,35,2
148,2,20,1,1,2,2,2,2,2,?,2,2,2,2,0.90,89,152,4.0,?,2
149,2,36,1,2,2,2,2,2,2,2,2,2,2,2,0.60,120,30,4.0,?,2
150,1,46,1,2,2,1,1,1,2,2,2,1,1,1,7.60,?,242,3.3,50,2
151,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.3,?,2
152,2,61,1,1,2,1,1,2,1,1,2,1,2,2,0.80,75,20,4.1,?,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.1,48,2
154,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.1,42,2

In [3]:
df.dtypes

NameError: name 'df' is not defined

In [4]:
#
df.describe()

NameError: name 'df' is not defined

### the cells with values only 2/1 represent either no/yes or Male/Female .

## step 1 : cleaning the data

In [5]:
#accessing the missing datacell values
df.get_value(3,'STEROID')

NameError: name 'df' is not defined

In [6]:
#accesing the value using the .iat[]
df.iat[3,3]

NameError: name 'df' is not defined

In [7]:
# dropping duplicated columns (if any, will keep the first entry)
df.drop_duplicates(inplace = True)

NameError: name 'df' is not defined

In [8]:
df.head(2)

NameError: name 'df' is not defined

In [9]:
# Replacing the '?' values with NAN values
df['STEROID'] = df['STEROID'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['STEROID'] = df['STEROID'].astype(object).astype(float)

NameError: name 'df' is not defined

In [10]:
df['STEROID'].head(4)

NameError: name 'df' is not defined

In [11]:
# Replacing the '?' values with NAN values
df['FATIGUE'] = df['FATIGUE'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['FATIGUE'] = df['FATIGUE'].astype(object).astype(float)

NameError: name 'df' is not defined

In [12]:
# Replacing the '?' values with NAN values
df['MALAISE'] = df['MALAISE'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['MALAISE'] = df['MALAISE'].astype(object).astype(float)

NameError: name 'df' is not defined

In [13]:
# Replacing the '?' values with NAN values
df['ANOREXIA'] = df['ANOREXIA'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['ANOREXIA'] = df['ANOREXIA'].astype(object).astype(float)

In [14]:
# Replacing the '?' values with NAN values
df['LIVER_BIG'] = df['LIVER_BIG'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['LIVER_BIG'] = df['LIVER_BIG'].astype(object).astype(float)

In [15]:
# Replacing the '?' values with NAN values
df['LIVER_FIRM'] = df['LIVER_FIRM'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['LIVER_FIRM'] = df['LIVER_FIRM'].astype(object).astype(float)

In [16]:
# Replacing the '?' values with NAN values
df['SPLEEN_PALPABLE'] = df['SPLEEN_PALPABLE'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['SPLEEN_PALPABLE'] = df['SPLEEN_PALPABLE'].astype(object).astype(float)

In [17]:
# Replacing the '?' values with NAN values
df['SPIDERS'] = df['SPIDERS'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['SPIDERS'] = df['SPIDERS'].astype(object).astype(float)

In [18]:
# Replacing the '?' values with NAN values
df['ASCITES'] = df['ASCITES'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['ASCITES'] = df['ASCITES'].astype(object).astype(float)

In [19]:
# Replacing the '?' values with NAN values
df['VARICES'] = df['VARICES'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['VARICES'] = df['VARICES'].astype(object).astype(float)

In [20]:
# Replacing the '?' values with NAN values
df['BILIRUBIN'] = df['BILIRUBIN'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['BILIRUBIN'] = df['BILIRUBIN'].astype(object).astype(float)

In [21]:
# Replacing the '?' values with NAN values
df['ALK_PHOSPHATE'] = df['ALK_PHOSPHATE'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['ALK_PHOSPHATE'] = df['ALK_PHOSPHATE'].astype(object).astype(float)

In [22]:
# Replacing the '?' values with NAN values
df['SGOT'] = df['SGOT'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['SGOT'] = df['SGOT'].astype(object).astype(float)

In [23]:
# Replacing the '?' values with NAN values
df['ALBUMIN'] = df['ALBUMIN'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['ALBUMIN'] = df['ALBUMIN'].astype(object).astype(float)

In [24]:
# Replacing the '?' values with NAN values
df['PROTIME'] = df['PROTIME'].replace('?',np.NAN)

# And Changing the datatypes of the column from object to float64
df['PROTIME'] = df['PROTIME'].astype(object).astype(float)

In [25]:
df.dtypes

DIE_LIVE             int64
AGE                  int64
SEX                  int64
STEROID            float64
ANTIVIRAL            int64
FATIGUE            float64
MALAISE            float64
ANOREXIA           float64
LIVER_BIG          float64
LIVER_FIRM         float64
SPLEEN_PALPABLE    float64
SPIDERS            float64
ASCITES            float64
VARICES            float64
BILIRUBIN          float64
ALK_PHOSPHATE      float64
SGOT               float64
ALBUMIN            float64
PROTIME            float64
HISTOLOGY            int64
dtype: object

In [26]:
df.describe()

,DIE_LIVE,AGE,SEX,STEROID,ANTIVIRAL,FATIGUE,MALAISE,ANOREXIA,LIVER_BIG,LIVER_FIRM,SPLEEN_PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK_PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
count,155.000000,155.000000,155.000000,154.000000,155.000000,154.000000,154.000000,154.000000,145.000000,144.000000,150.00000,150.000000,150.000000,150.00000,149.000000,126.000000,151.00000,139.000000,88.000000,155.000000
mean,1.793548,41.200000,1.103226,1.506494,1.845161,1.350649,1.603896,1.792208,1.827586,1.583333,1.80000,1.660000,1.866667,1.88000,1.427517,105.325397,85.89404,3.817266,61.852273,1.451613
std,0.406070,12.565878,0.305240,0.501589,0.362923,0.478730,0.490682,0.407051,0.379049,0.494727,0.40134,0.475296,0.341073,0.32605,1.212149,51.508109,89.65089,0.651523,22.875244,0.499266
min,1.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.00000,0.300000,26.000000,14.00000,2.100000,0.000000,1.000000
25%,2.000000,32.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1.000000,2.00000,1.000000,2.000000,2.00000,0.700000,74.250000,31.50000,3.400000,46.000000,1.000000
50%,2.000000,39.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.00000,1.000000,85.000000,58.00000,4.000000,61.000000,1.000000
75%,2.000000,50.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.00000,1.500000,132.250000,100.50000,4.200000,76.250000,2.000000
max,2.000000,78.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.00000,8.000000,295.000000,648.00000,6.400000,100.000000,2.000000

In [27]:
df['STEROID'] = df['STEROID'].replace(np.NAN,df['STEROID'].mean())
df['PROTIME'] = df['PROTIME'].replace(np.NAN,df['PROTIME'].mean())
df['ALBUMIN'] = df['ALBUMIN'].replace(np.NAN,df['ALBUMIN'].mean())
df['SGOT'] = df['SGOT'].replace(np.NAN,df['SGOT'].mean())
df['ALK_PHOSPHATE'] = df['ALK_PHOSPHATE'].replace(np.NAN,df['ALK_PHOSPHATE'].mean())
df['BILIRUBIN'] = df['BILIRUBIN'].replace(np.NAN,df['BILIRUBIN'].mean())
df['VARICES'] = df['VARICES'].replace(np.NAN,df['VARICES'].mean())
df['ASCITES'] = df['ASCITES'].replace(np.NAN,df['ASCITES'].mean())
df['FATIGUE'] = df['FATIGUE'].replace(np.NAN,df['FATIGUE'].mean())
df['MALAISE'] = df['MALAISE'].replace(np.NAN,df['MALAISE'].mean())
df['ANOREXIA'] = df['ANOREXIA'].replace(np.NAN,df['ANOREXIA'].mean())
df['LIVER_BIG'] = df['LIVER_BIG'].replace(np.NAN,df['LIVER_BIG'].mean())
df['LIVER_FIRM'] = df['LIVER_FIRM'].replace(np.NAN,df['LIVER_FIRM'].mean())
df['SPLEEN_PALPABLE'] = df['SPLEEN_PALPABLE'].replace(np.NAN,df['SPLEEN_PALPABLE'].mean())
df['SPIDERS'] = df['SPIDERS'].replace(np.NAN,df['SPIDERS'].mean())

In [28]:
# Exporting the dataframe to a csv file
#df.to_csv('hepatitis_cleaned2.csv')

## The McCulloh-pitt model

In [28]:
# changing the column values from 2/1 to 1/0

# 0 for die
# 1 for live
df['DIE_LIVE'] = df['DIE_LIVE'].replace(1,0)
df['DIE_LIVE'] = df['DIE_LIVE'].replace(2,1)
df.head(10)

,DIE_LIVE,AGE,SEX,STEROID,ANTIVIRAL,FATIGUE,MALAISE,ANOREXIA,LIVER_BIG,LIVER_FIRM,SPLEEN_PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK_PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,1,30,2,1.000000,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.000000,85.000000,18.00000,4.000000,61.852273,1
1,1,50,1,1.000000,2,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.900000,135.000000,42.00000,3.500000,61.852273,1
2,1,78,1,2.000000,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.700000,96.000000,32.00000,4.000000,61.852273,1
3,1,31,1,1.506494,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.700000,46.000000,52.00000,4.000000,80.000000,1
4,1,34,1,2.000000,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.000000,105.325397,200.00000,4.000000,61.852273,1
5,1,34,1,2.000000,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.900000,95.000000,28.00000,4.000000,75.000000,1
6,0,51,1,1.000000,2,1.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,1.427517,105.325397,85.89404,3.817266,61.852273,1
7,1,23,1,2.000000,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.000000,105.325397,85.89404,3.817266,61.852273,1
8,1,39,1,2.000000,2,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.700000,105.325397,48.00000,4.400000,61.852273,1
9,1,30,1,2.000000,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.000000,105.325397,120.00000,3.900000,61.852273,1

In [29]:
# Here goes the mcculloh pitt model
#

## The Perceptron model

In [30]:
# Had to change the 0 values to -1 as the perceptron needs to have bipolar threshold activation fucb
df['DIE_LIVE'] = df['DIE_LIVE'].replace(0,-1)

In [31]:
df.head(10)

,DIE_LIVE,AGE,SEX,STEROID,ANTIVIRAL,FATIGUE,MALAISE,ANOREXIA,LIVER_BIG,LIVER_FIRM,SPLEEN_PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK_PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,1,30,2,1.000000,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.000000,85.000000,18.00000,4.000000,61.852273,1
1,1,50,1,1.000000,2,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.900000,135.000000,42.00000,3.500000,61.852273,1
2,1,78,1,2.000000,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.700000,96.000000,32.00000,4.000000,61.852273,1
3,1,31,1,1.506494,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.700000,46.000000,52.00000,4.000000,80.000000,1
4,1,34,1,2.000000,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.000000,105.325397,200.00000,4.000000,61.852273,1
5,1,34,1,2.000000,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.900000,95.000000,28.00000,4.000000,75.000000,1
6,-1,51,1,1.000000,2,1.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,1.427517,105.325397,85.89404,3.817266,61.852273,1
7,1,23,1,2.000000,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.000000,105.325397,85.89404,3.817266,61.852273,1
8,1,39,1,2.000000,2,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.700000,105.325397,48.00000,4.400000,61.852273,1
9,1,30,1,2.000000,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.000000,105.325397,120.00000,3.900000,61.852273,1

In [32]:
y1 = []
y1 = np.array(df['DIE_LIVE'])

x1 = np.array(df.loc[:,['AGE','SEX','STEROID','ANTIVIRAL','FATIGUE','MALAISE','ANOREXIA','LIVER_BIG','LIVER_FIRM','SPLEEN_PALPABLE','SPIDERS','ASCITES','VARICES','BILIRUBIN','ALK_PHOSPHATE','SGOT','ALBUMIN','PROTIME','HISTOLOGY']])

In [34]:
#df.iat[6,0]   #check
print(y1)

[ 1  1  1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1 -1 -1  1  1  1 -1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 -1  1  1  1 -1
  1  1  1  1 -1  1  1  1  1  1  1  1  1  1 -1 -1 -1  1  1 -1  1  1 -1  1
  1  1 -1  1 -1  1  1  1 -1  1 -1  1  1 -1  1 -1  1  1  1  1  1  1 -1  1
 -1  1  1  1  1  1  1 -1  1 -1  1 -1  1  1 -1  1  1  1 -1  1  1 -1  1 -1
 -1  1 -1 -1  1  1 -1  1  1  1 -1]

In [35]:
# perceptron function, Is a bipolar threshold activation function
def perceptron(x):
    if x>8:
        return 1
    else :
        return -1

In [36]:
# getting the size of the features
[r,c] = x1.shape
print([r,c])

[155, 19]

In [37]:
# Training the perceptron
#it's a single neuron perceptron
lr = 0.04 # lr is the learning rate
# assigning random weight values 
w1 = np.random.rand(19)
#w
print('Prev. ',w1,'\n')
b1 = np.random.rand()   # random bias value
#b
X_train,X_test,y_train,y_test = train_test_split(x1,y1,test_size = 0.25,random_state = 31)

# [r,c] = x1.shape
X_train.shape
[r,c] = X_train.shape
epoch = 5431
e = 0
while(e<=epoch):    
    for i in range(r):
        s1 = 0
        for j in range(c):
            s1+= X_train[i,j]*w1[j]
        s1+=b1
        out = perceptron(s1)
        if(out == y_train[i]):
            ;
        else:
            for j in range(c):
                w1[j] = w1[j] + (lr*x1[i,j]*y1[i])
    e+=1


print('New ',w1,'\n')

Prev.  [0.93761194 0.15960163 0.26149369 0.25055667 0.30426268 0.12487921
 0.77845915 0.75695099 0.51849029 0.3683075  0.18603652 0.51515268
 0.98551692 0.4463504  0.62558891 0.31395444 0.99588875 0.84507234
 0.01460013]

New  [168392.93761198   4780.31960163   6735.94149368   7822.33055666
   6594.89335359   7953.41942466   8212.26936824   7785.37488202
   7297.50515695   9039.2163075    8978.19563651   9068.33381934
   8857.31831692   3966.90004167 320624.85669998 316531.2278617
  18184.36187437 290151.12507239   5214.73460013]

In [38]:
# Testing the perceptron
[r,c] = X_test.shape
y_pred1 = []
for i in range(r):
    s1 = 0
    for i in range(c):
        s1+= X_test[i,j]*w1[j]
    s1+= b1
    out = perceptron(s1)
    y_pred1.append(out)
    

print(y_pred1,'\n')
print(y_test,'\n')
#from sklearn.metrics import accuracy_score
#accuracy_score(y_test,y_pred)
print('The Accuracy of the perceptron model is :%.2f'%accuracy_score(y_test,y_pred1))

#for i in range(r):
    
    
print('misclassified samples: %d'%(y_test!=y_pred1).sum())#compute
#print("The accuracy of the perceptron is :",accuracy_score)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

[ 1  1  1  1  1  1  1  1  1  1 -1  1  1  1  1  1 -1  1  1  1 -1  1  1 -1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1]

The Accuracy of the perceptron model is :0.90
misclassified samples: 4

## Back propagation algorithm in NN

> - __The data used is the same as used in the previous model, The data is cleaned and the values of DIE_LIVE are changed back to 2/1 from 1,-1.__

> - __IN this model, For DIE_LIVE column: -1 means DIE and 1 means LIVE.__

> - __This model will logsigmoid function as its acativation function and the BPA alogrithm for learning.__

> - __This model will also implement a single neuron neural network,__

In [63]:
# The activation function for the model
def sigmoid(x):
    return 1/(1+(np.exp(-x)))

In [67]:
# BPA code for training the model:
lr = 0.06                     # Learning rate
w = np.random.rand(19)        # Randomly assigning the weight values.
b = np.random.rand()          # Randomly assigning the bias values. 

#changing the 'DIE_LIVE' col. values back to the previous ones
#df['DIE_LIVE'] = df['DIE_LIVE'].replace(1,2)
#df['DIE_LIVE'] = df['DIE_LIVE'].replace(-1,1)
print(w,'\n',b,'\n')
# assigning the features
x = np.array(df.loc[:,['AGE','SEX','STEROID','ANTIVIRAL','FATIGUE','MALAISE','ANOREXIA','LIVER_BIG','LIVER_FIRM','SPLEEN_PALPABLE','SPIDERS','ASCITES','VARICES','BILIRUBIN','ALK_PHOSPHATE','SGOT','ALBUMIN','PROTIME','HISTOLOGY']])
#assigning the outputs
y = np.array(df['DIE_LIVE'])

print(x)

# splitting the data into a set of the training and testing of 75 and 25% 
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size =0.30, random_state = 31)

#X_train.shape
[r,c] = X_train.shape
print(r,c,'\n')

epoch = 5000 #epochs
e = 0
while(e<=epoch):
    for i in range(r):
        s = 0
        for j in range(c):
            s+= X_train[i,j]*w[j]  # Forward propagation
        s+= b
        #print(s,'\n')
        output = sigmoid(s)# sigmoid function will always give error
        # Calculating the delta value
        error = output*(1-output)*(y_train[i]-output)
        #print(output,'\n')
        # Updating the weights
        j=0
        b+= lr*error*output
        for j in range(c):
            w[j]+=(lr*error*output)
    e+=1 
    
print(w)

[2.72460230e-01 7.91497152e-01 3.78621235e-01 3.76772718e-01
 6.51028978e-01 3.83434693e-04 1.65246171e-01 3.98664563e-01
 5.80009517e-01 2.82891985e-01 5.86131814e-01 5.43581338e-01
 3.80354768e-01 2.28422190e-01 7.65269726e-01 4.23432858e-01
 4.38857039e-01 8.27186065e-02 4.06508314e-01]
 0.4786005887277841

[[30.          2.          1.         ...  4.         61.85227273
   1.        ]
 [50.          1.          1.         ...  3.5        61.85227273
   1.        ]
 [78.          1.          2.         ...  4.         61.85227273
   1.        ]
 ...
 [61.          1.          1.         ...  4.1        61.85227273
   2.        ]
 [53.          2.          1.         ...  4.1        48.
   2.        ]
 [43.          1.          2.         ...  3.1        42.
   2.        ]]
108 19

[2.72460230e-01 7.91497152e-01 3.78621235e-01 3.76772718e-01
 6.51028978e-01 3.83434693e-04 1.65246171e-01 3.98664563e-01
 5.80009517e-01 2.82891985e-01 5.86131814e-01 5.43581338e-01
 3.80354768e-01 2.28422190e-01 7.65269726e-01 4.23432858e-01
 4.38857039e-01 8.27186065e-02 4.06508314e-01]

In [68]:
# testing the model
[r,c] = X_test.shape
y_pred = []
for i in range(r):
    s = 0
    for j in range(c):
        s+= X_test[i,j]*w[j]
    s+=b
    out = sigmoid(s)
    y_pred.append(out)

#print(accuracy_score(y_test,y_pred))
#print('The Accuracy of the BPA model is :%.2f'%accuracy_score(y_test,y_pred))
#print('misclassified samples: %d'%(y_test!=y_pred).sum())

> __The BPA algorithm also uses the Logsigmoid function as its activation function and the expected output from the model according to the dataset needs be strictly 2.0/1.0 but because of the sigmoid function it would be quite impossible to get exactly 2.0/1.0 as output hence the model is not appropriate for the given dataset however to get it right we could either use the threshold activation function or we could just compare the predicted outputs with the expected ones to check how near could we get using the model. In this project we have employed the second method to see how close we got to the expected outputs.__

In [69]:
# Comparing the outputs
print('Predicted_output, Expected output')
for i in range(c):
    print(y_pred[i],'  ,   ',y_test[i])
    print('\n')

Predicted_output, Expected output
1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1


1.0   ,    1

# References
 - http://shodhganga.inflibnet.ac.in/bitstream/10603/183728/12/12_chapter%20-%20v.pdf