In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('hepatitis_cleaned2.csv')

In [18]:
df.head(8)

,s.no.,DIE_LIVE,AGE,SEX,STEROID,ANTIVIRAL,FATIGUE,MALAISE,ANOREXIA,LIVER_BIG,...,SPLEEN_PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK_PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,0,2,30,2,1.000000,2,2.0,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,1.000000,85.000000,18.00000,4.000000,61.852273,1
1,1,2,50,1,1.000000,2,1.0,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,0.900000,135.000000,42.00000,3.500000,61.852273,1
2,2,2,78,1,2.000000,2,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,0.700000,96.000000,32.00000,4.000000,61.852273,1
3,3,2,31,1,1.506494,1,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,0.700000,46.000000,52.00000,4.000000,80.000000,1
4,4,2,34,1,2.000000,2,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,1.000000,105.325397,200.00000,4.000000,61.852273,1
5,5,2,34,1,2.000000,2,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,0.900000,95.000000,28.00000,4.000000,75.000000,1
6,6,1,51,1,1.000000,2,1.0,2.0,1.0,2.0,...,1.0,1.0,2.0,2.0,1.427517,105.325397,85.89404,3.817266,61.852273,1
7,7,2,23,1,2.000000,2,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,1.000000,105.325397,85.89404,3.817266,61.852273,1

In [20]:
df = df.drop('s.no.',axis=1)
[r,c] = df.shape
[r,c]

[155, 20]

In [21]:
for i in range(r):
    df['STEROID']

2
31
1
1.50649350649351
1
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
0.7
46.0
52.0
4.0
80.0
1

In [22]:
df.iat(1).mean()

AttributeError: '_iAtIndexer' object has no attribute 'mean'